.content {
  padding: 141px 8%;
  max-width: 1000px;
}

.name {
  font-size: 60pt;
  font-family: 'Baskervville', serif;
  margin-bottom: 20px;
}

.links {
  font-size: 28px;
  font-family: 'IBM Plex Mono', monospace;
  position: static;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.link {
  flex: none;
  align-self: center;
  margin: 0px 50px 0px 0px;
}

#about {
  order: 0;
}

#resume {
  order: 1;
}

#projects {
  order: 2;
}

#contact {
  order: 3;
}



a {
  text-decoration: none;
  color: inherit;
}

.about {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 22px;
}
